#photoViewer-divContainer {
    width: 1280px ;
    /*border: 1px solid black;*/
    margin-right: auto ;
    overflow: hidden;
}
#photoViewer-photo{
    width: 900px;
    float: left;
}
#photoViewer-information{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
